{% extends 'base3.html' %}
{% block content %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.8/xlsx.full.min.js"></script>

<style>
  
body
{
   justify-content: space-between;
}


a {
  text-decoration: none;
}





table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #333;
  margin-left:5px ;
}

th, td {
  padding: 10px;
  text-align: center;

}

thead {
  color: #fff;
}

#over:hover {
  background-color: rgba(110, 110, 110, 0.616);
}
.daterangepicker{
    color: black;
  }
  @media print {
 
    .no-page-break {
        page-break-inside: avoid;
        display: none;
      
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 10%;
    width: 90%;
    height: 90%;
    background-color: transparent;
    margin-bottom:100% ;
}

/* Styling for the modal content */
.modal-content {
    background-color: white;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10%;
    left:10%;
    right:10%
}

/* Styling for the close button */
.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}

/* Styling for the button inside the modal */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.warning-icon {
    color: #FFD700; 
    font-size: 24px;
    margin-right: 5px;
}

</style>



 <br> 
 <div class="row mt-4">
    <div class="col-sm-12">

      
      <div class="b text-black">
        <div id="reportrange" style="background: white; color: black; cursor: pointer; padding: 5px 10px; border: 1px solid black; height: 4vh; width: 19vw;">
          <i class="fa fa-calendar"></i>&nbsp;
          <span></span> <i class="fa fa-caret-down"></i>
        </div>
      </div>
       <div class="row">
        <div class="col">
        <i class="fa fa-gear" style="font-size:1.5vw;padding-left:300px ;"></i><a href="{% url 'custom_valuation_repot' %}">Custom Report</a>
        
         <i class="fas fa-print " style="color:white;margin-left:550px ;height:3vh ;"></i>
        <select name="printdrop" id="printdrop" style="width: 1vw;color:black;"  onchange="printpage(this.value)">
            <option value=""></option>
            <option value="print" >Print Preference</option>
           
          
          </select>&nbsp&nbsp
          <select name="dropdowns" id="exportDropdown" style="width: 100px; height: 28px; padding-left: 2px; background-color: azure">
            <option value="" hidden>Export AS</option>
            <option value="pdf">PDF</option>
        
            <option value="xls">XLS (Microsoft Excel 1997-2004 Compatible)</option>
            <option value="xlsx">XLSX (Microsoft Excel)</option>
            <option value="zoho">Export to Zoho sheet</option>
        </select>
        <input type="button" value="X" onclick="javascript:history.go(-1);" class="btn btn-danger"> 
       
<br><br><br><br><br>
<div id="contentToExport">
  <div  style="top: 7rem; " >

   
        <div class="row">
           <div style="padding-left: 45%;"><h4 style="color:white;
            ">Zylker</h4></div>

           <div ><a class="text" style="font-size: 2rem; padding-left: 30%;white-space: nowrap;color: white;">Inventory Valuation Summary </a></div>
                  <div style="padding-left:40%;color: white;"><h5>As of 15 August 2023</h5></div>
            </div>
        </div>   
    
        <div class="row" >
            <div class="col">
              <div class="table-resposive">
                <table class="table  text-white" id="myTable" >
                    <thead>
                      <tr>
                        <th>ITEM NAME</th>
                        <th>SKU</th>
                        <th >STOCK ON HAND</th>
                        <th>Inventory ASSET VALUE</th>
                      </tr>
                    </thead>
                    <tbody>
                     
             
                      <tr id="over">
             
                     
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                       
                      </tr>
                 
                    </tbody>
                </table>
              </div>
                <br><br><br><br><br>
            </div>
      
           

        </div>
      </div>    

           
        

    <!-- </div> -->

</div>
<div id="pdfModal" class="modal">
  <div class="modal-content">
    <div class="modal-header" style="background-color: lightgray;margin-bottom:10% ;">
     
      <h2 style="color: black;font-size: larger;font-weight: bold;justify-content: right;">Export Report As PDF</h2>
      <span class="close">&times;</span>
    </div>
    <div class="modal-body" >
      <p  style="color: black;font-size: medium;">You can protect the export report with a password to keep your data secure</p>
      <input type="checkbox" style="color: black;"><p style="color: black;font-size: medium;">I want to protect this file with password</p><br>
      <a href="" onclick="page()">customize pdf</a>
    </div>
    <div class="modal-footer">
      <button onclick="convertToPDF()" class="button_ex">Export</button>
      <button>cancel</button>
    </div>
  </div>
</div>



<div id="xlsModal" class="modal">
  <div class="modal-content">
    <div class="modal-header" style="background-color: lightgray;margin-bottom:10% ;">
     
      <h2 style="color: black;font-size: larger;font-weight: bold;justify-content: right;">Export Report as XLS (Microsoft Excel 1997-2004 Compatible)</h2>
      <span class="close">&times;</span>
    </div>
    <div class="modal-body" >
      <p  style="color: black;font-size: medium;">You can protect the export report with a password to keep your data secure</p>
      <input type="checkbox" style="color: black;"><p style="color: black;font-size: medium;">I want to protect this file with password</p><br>
      
    </div>
    <div class="modal-footer">
      <button class="xlsExportButton" id="xlsExportButton">Export</button>
      <button>cancel</button>
    </div>
  </div>
</div>


<div id="xlsxModal" class="modal">
  <div class="modal-content">
    <div class="modal-header" style="background-color: lightgray;margin-bottom:10% ;">
     
      <h2 style="color: black;font-size: larger;font-weight: bold;justify-content: right;">Export Report as XLSX (Microsoft Excel)</h2>
      <span class="close">&times;</span>
    </div>
    <div class="modal-body" >
      <p  style="color: black;font-size: medium;">You can protect the export report with a password to keep your data secure</p>
      <input type="checkbox" style="color: black;"><p style="color: black;font-size: medium;">I want to protect this file with password</p><br>
      
    </div>
    <div class="modal-footer">
      <button class="xlsxExportButton" >Export</button>
      <button>cancel</button>
    </div>
  </div>
</div>


<div id="zohoModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
  <div class="modal-body" >
    <span class="warning-icon">&#9888;</span>
    <p  style="color: black;font-size: medium;">This report will be exported and saved in Zoho Sheet under your account. Are you sure you want to export this report to Zoho Sheet?</p>
    
  </div>
  <div class="modal-footer">
    <button onclick="page()">Export</button>
    <button>cancel</button>
  </div>
  </div>
</div>
&nbsp&nbsp&nbsp

</div> 
</div>
<script>
document.getElementById('printdrop').addEventListener('change', function() {
    const selectedOption = this.value;
    if (selectedOption === 'print') {
        printPageContent();
    }
});

function printPageContent() {
    const contentToPrint = document.getElementById('contentToExport');
    const clonedContent = contentToPrint.cloneNode(true);


    const printWindow = window.open('', '_blank');
    printWindow.document.body.appendChild(clonedContent);
    printWindow.print();
    printWindow.close();
}
</script>

<!-- <script>
  function printpage(option){
    if (option === 'print'){
      window.print();
    }
   
  }
  </script> -->
<script>
  $(function() {
  
    var start = moment().subtract(29, 'days');
    var end = moment();
  
    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
  
    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);
  
    cb(start, end);
  
  });
  </script>

<script>

$(document).ready(function() {
    $("#exportDropdown").change(function() {
        var selectedOption = $(this).val();
        $(".modal").hide();
        
        if (selectedOption === "pdf") {
            $("#pdfModal").show();
        } 
      
        else if(selectedOption === "xls")
        {
          $("#xlsModal").show();
        }
        else if(selectedOption === "xlsx")
        {
          $("#xlsxModal").show();
        }
        else if(selectedOption === "zoho")
        {
          $("#zohoModal").show();
        }
    });

    // Close modal when the close button is clicked
    $(".close").click(function() {
        $(this).closest(".modal").hide();
    });
    

});
</script>

<script>
  document.querySelector('.button_ex').addEventListener('click', function () {
    const element = document.getElementById('contentToExport'); 
  
   
    const pdfOptions = {
      margin: 10,
      filename: 'inventory_Valuation.pdf',
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale:1  },
      jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' },
    };

    html2pdf().from(element).set(pdfOptions).save();
  }); 
</script>
<script>
// Function to convert a table to a worksheet object
function tableToWorksheet(table) {
  var ws = XLSX.utils.table_to_sheet(table);
  return ws;
}

// Function to download an Excel file
function downloadExcelFile(ws, filename) {
  var wb = XLSX.utils.book_new();
  XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
  XLSX.writeFile(wb, filename);
}

// Export button click event for XLS format
document.querySelector('.xlsExportButton').addEventListener('click', function () {
  var contentToExport = document.getElementById('myTable');
  var worksheet = tableToWorksheet(contentToExport);
  downloadExcelFile(worksheet, 'inventory_valuation.xls');
});

// Export button click event for XLSX format
document.querySelector('.xlsxExportButton').addEventListener('click', function () {
  var contentToExport = document.getElementById('myTable');
  var worksheet = tableToWorksheet(contentToExport);
  downloadExcelFile(worksheet, 'inventory_valuation.xlsx');
});


</script>
{% endblock %}