{% extends 'base.html' %}
{% block content %}
{% load static %}


<style>
  
body
{
   justify-content: space-between;
}


a {
  text-decoration: none;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #333;
}

th, td {
  padding: 10px;
  text-align: center;

}

thead {
  color: #fff;
}

#over:hover {
  background-color: rgba(110, 110, 110, 0.616);
}
.daterangepicker{
    color: black;
  }
</style>

 <br> 
 <div class="row mt-4">
    <div class="col-sm-12">

      <div class="b text-black">
        <div id="reportrange" style="background: white; color: black; cursor: pointer; padding: 5px 10px; border: 1px solid black; height: 4vh; width: 19vw;">
          <i class="fa fa-calendar"></i>&nbsp;
          <span></span> <i class="fa fa-caret-down"></i>
        </div>
      </div>
        <i class="fa fa-gear" style="font-size:1.5vw;padding-left:350px ;"></i><a href="{% url 'custom_valuation_repot' %}">Custom Report</a>
        
        <i class="fas fa-print " style="color:white; margin-left:450px ;"></i>
        <select name="flter_tp" id="" style="width: 1vw;color:black;" >
            <option value=""></option>
            <option value="" ><button>Print Preference</button></option>
             
          
          </select>&nbsp&nbsp
        <select name="flter_tp" id="" style="width: 100px; height: 28px;background-color: whitesmoke; padding-left: 2px;">
          <option value="" hidden>Export AS</option>
         
          <option value="">PDF</option>
          <option value="">XLS(Microsoft Excel 1997-2004 Compatible)</option>
          <option value="">XLSX(Microsoft Excel)</option> 
         
          <option value="">Export to Zoho sheet</option>
      

        </select>&nbsp&nbsp&nbsp
       <input type="button" value="X" onclick="javascript:history.go(-1);" class="btn btn-danger"> 
        
      
    
<br><br><br><br><br>

  <div  style="top: 7rem; " >

   
        <div class="row">
           <div style="padding-left: 40%;"><h4>Zylker</h4></div>

           <div ><a class="text-white" style="font-size: 2rem; padding-left: 26%;white-space: nowrap;">Inventory Valuation Summary </a></div>
                  <div style="padding-left: 37%;"><h5>As of 15 August 2023</h5></div>
            </div>
        </div>   
    
        <div class="row">
            <div class="col-sm-12 col-md-11 col-lg-11">
              
                <table class="table  text-white" id="myTable" style="width: 100%;">
                    <thead>
                       
                      <tr>
                        <th>ITEM NAME</th>
                        <th>SKU</th>
                      
                        <th >STOCK ON HAND</th>
                        <th>INVENTORY ASSET VALUE</th>
                      </tr>
                    </thead>
                    <tbody>
                     
             
                      <tr id="over">
             
                     
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


        
                       
                      </tr>
                 
                    </tbody>
                </table>
                <br><br><br><br><br>
            </div>
      
           

        </div>
      

           
        

    <!-- </div> -->

</div>


<script>
  $(function() {
  
    var start = moment().subtract(29, 'days');
    var end = moment();
  
    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
  
    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);
  
    cb(start, end);
  
  });
  </script>


{% endblock %}