{% extends 'base3.html' %}
{% block content %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
<!-- Include jQuery and jQuery UI -->


<style>
    .filter-dropdown {
        display: none;
        position: absolute;
        background: white;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 1;
        border-radius: 10%;
    }
    .filter-option,
    .filter-value {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 1px;
    }

    .filter-buttons {
        display: flex;
        justify-content: space-between;
    }

    .filter-buttons button {
        padding: 8px 15px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .apply-filter {
        background-color: #4caf50;
        color: white;
    }

    .clear-filter {
        background-color: #f44336;
        color: white;
    }
    table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #333;

}

th, td,tr {
  padding: 10px;
  text-align: center;
 border: 1px solid #333;
}

thead {
  color: #fff;
}

        .daterangepicker{
    color: black;
  }

  .custom-caret {
    position: absolute;
    left: 5px; /* Adjust the value as needed */
    top: 20%; /* Adjust the value as needed */
    text-align: center;
    font-size: 15px; /* Adjust the font size as needed */
}


.custom-caret i {
    color: white; /* Adjust the color as needed */
    cursor: pointer; /* Add cursor pointer */
}  
td{
  text-align: center;
  
}
.cancel-button {
      background-color: #333; /* Change the background color */
      color: white; /* Change the text color */
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 4px;
    }   
    </style>

</style>
<br> 
 <div class="container-fulid" style="height:2% ;">
 <nav class="nav nav-pills navbar-expand-lg navbar-light " id="navabars">
  <!-- Navbar brand or logo -->
  <a class="navbar-brand" href="#"></a>
  <div class="nav-item dropdown btn btn-primary" id="reportrange"  style="padding-right: 10%; color: black;  width: 10vw;white-space: nowrap;font-weight: bolder;height:5vh;">
    <!-- <i class="fa fa-calendar"style=" transform: translateXY(70%);"></i>&nbsp; -->
    
    <span class="custom-caret"> <i class="fa fa-caret-down"></i></span>
  </div>
 
<h5 id="selectedEndDate"  class="btn btn-secondary" style=" color: black;  width: 24vw;white-space: nowrap;font-weight: bolder;height:5vh;"></h5>

  <li class="nav-item " style="padding-left:580px ;">
    <a class="nav-link "  href="#" role="button" aria-expanded="false" style="background: white; color: black;width: 5%;"  onclick="printPageContent()"><i class="fas fa-print"style="color:black;transform: translateX(-40%);"></i></a>

      

  </li>


  <li class="nav-item " style="padding-left:10px ;">
    <a class="nav-link " id="" href="#" role="button" aria-expanded="false" style="background: white; color: black;width:5%;"  onclick="exportAsExcel()"><i class="fas fa-file-excel" style="color:black;transform: translateX(-40%);"></i></a>

    
  </li>
          
      </ul>
  </div>
</nav>
<br><br><br>
<div id="contentToExport">
    <div class="row " style="margin-bottom:5% ;" >
        <div class="col-md-12 form-inline ">
          <div class="row">
            <div class="col-md-9"><a class=" text text-white" style="font-size: 1.5rem;white-space: nowrap;">SALES SUMMARY BY HSN</a>
             </div>
   
          </div>
      </div>
    <div  style="top: 7rem; " >
  

          <div class="row" >
              <div class="col">
                <div class="table-resposive">
                  <table class="table" id="myTable" style="width: 100%;">
                      <thead class="">
                        
                        <tr class="">
                            <th class="">#</th>
                          <th class="table" >HSN<i class="fas fa-filter filter-button" style="color: red;"></i>
                            <div class="filter-dropdown">
                                <select class="filter-option">
                                    <option value="contains">Contains</option>
                                    <option value="exact-match">Exact Match</option>
                                </select><br><br>
                                <input type="text" class="filter-value" ><br><br>
                                <button class="apply-filter btn-primary">Apply</button>
                                <button class="clear-filter">Clear</button>
                            </div>
                            
                        </th>
                          <th class="table ">TOTAL VALUE <i class="fas fa-filter filter-button"style="color:red"></i>
                            <div class="filter-dropdown">
                                <select class="filter-option">
                                    <option value="equal-to">Equal to</option>
                                    <option value="less-than">Less than</option>
                                    <option value="greater-than">Greater than</option>
                                </select><br><br>
                                <input type="number" class="filter-value" ><br><br>
                                
                               
                                    <button class="apply-filter">Apply</button>
                                    <button class="clear-filter">Clear</button>
                                
                            </div>
                        
                        </th>
                          <th class="table">TAXABLE VALUE <i class="fas fa-filter filter-button"style="color:red"></i>
                            <div class="filter-dropdown">
                                <select class="filter-option">
                                    <option value="equal-to">Equal to</option>
                                    <option value="less-than">Less than</option>
                                    <option value="greater-than">Greater than</option>
                                </select><br><br>
                                <input type="number" class="filter-value" ><br><br>
                                
                               
                                    <button class="apply-filter">Apply</button>
                                    <button class="clear-filter">Clear</button>
                                
                            </div>
                        </th>
                          
                          <th class="table">IGST AMOUNT <i class="fas fa-filter filter-button"style="color:red"></i>
                            <div class="filter-dropdown">
                                <select class="filter-option">
                                    <option value="equal-to">Equal to</option>
                                    <option value="less-than">Less than</option>
                                    <option value="greater-than">Greater than</option>
                                </select><br><br>
                                <input type="number" class="filter-value" ><br><br>
                                
                               
                                    <button class="apply-filter">Apply</button>
                                    <button class="clear-filter">Clear</button>
                                
                            </div>
                        </th>
                          <th class="table">CGST AMOUNT <i class="fas fa-filter filter-button"style="color:red"></i>
                            <div class="filter-dropdown">
                                <select class="filter-option">
                                    <option value="equal-to">Equal to</option>
                                    <option value="less-than">Less than</option>
                                    <option value="greater-than">Greater than</option>
                                </select><br><br>
                                <input type="number" class="filter-value" ><br><br>
                                
                               
                                    <button class="apply-filter">Apply</button>
                                    <button class="clear-filter">Clear</button>
                                
                            </div>
                        </th>
                          <th class="table">SGST AMOUNT <i class="fas fa-filter filter-button"style="color:red"></i>
                            <div class="filter-dropdown">
                                <select class="filter-option">
                                    <option value="equal-to">Equal to</option>
                                    <option value="less-than">Less than</option>
                                    <option value="greater-than">Greater than</option>
                                </select><br><br>
                                <input type="number" class="filter-value" ><br><br>
                                
                               
                                    <button class="apply-filter">Apply</button>
                                    <button class="clear-filter">Clear</button>
                                
                            </div>
                        </th>
                          <th class="table">ADD.CESS <i class="fas fa-filter filter-button"style="color:red"></i>
                            <div class="filter-dropdown">
                                <select class="filter-option">
                                    <option value="equal-to">Equal to</option>
                                    <option value="less-than">Less than</option>
                                    <option value="greater-than">Greater than</option>
                                </select><br><br>
                                <input type="number" class="filter-value" ><br><br>
                                
                               
                                    <button class="apply-filter">Apply</button>
                                    <button class="clear-filter">Clear</button>
                                
                            </div>
                        </th>

                      
                        </tr>
                       
                      </thead>
                      <tbody>
                       
                        {% for i in invoice_item %}
                        <tr id="over" class="">
               
                       
                          <td class="table" style="width:auto ;">{{forloop.counter}}</td>
                          <td class="table" style="width: auto;">{{i.hsn}}</td>
                         
                          <td class="table td-total-value" style="width:auto ;">0</td>
                          <td class="table" style="width:auto ;">
                            {{i.total}}

                           </td>
                          <td class="table" style="width:auto ;">0
                        </td>
                       
                          <td class="table" style="width:auto ;">0</td>
                          <td class="table" style="width:auto ;">0</td>
                         
                         
                          <td class="table" style="width:auto ;">0</td>
                        </tr>
                        {%endfor%}
                  
              
                   
                      </tbody>
                      
                  </table>
                  <footer>
                    <label style="text-align: left;margin-top: 60px;"> Total Value: <span id="footer-total-sum" class="text text-success">0.00</span></label>&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label style="text-align: right;margin-top: 60px; padding-left:75% ;"  >Total Item: <span id="total-item-count">0</span></label>
                </footer>
                

                  
               
                <!-- <script>
                    $(document).ready(function() {
                        $('.filter-button').on('click', function() {
                            // Toggle filter dropdown visibility
                            $(this).closest('th').find('.filter-dropdown').toggle();
                        });
                        $('.apply-filter').on('click', function() {
                            const $table = $('#myTable');
                            const columnIndex = $(this).closest('th').index();
                            const filterValue = $(this).siblings('.filter-value').val().trim();
                
                            $table.find('tbody tr').hide();  // Hide all rows
                
                            $table.find(`tbody tr td:nth-child(${columnIndex + 1}):contains('${filterValue}')`).parent().show();
                            $table.find(`tbody tr td:nth-child(${columnIndex + 1}):not(:contains('${filterValue}'))`).parent().hide();
                        });
                
                        $('.clear-filter').on('click', function() {
                            $('#myTable tbody tr').show();
                            $(this).siblings('.filter-option').val('contains');
                            $(this).siblings('.filter-value').val('');
                        });
                    });
                </script> -->
                <script>
                  $(document).ready(function() {
                    $('.filter-button').on('click', function() {
                      $(this).closest('th').find('.filter-dropdown').toggle();
                    });
                
                    $('.apply-filter').on('click', function() {
                      const $table = $('#myTable');
                      const columnIndex = $(this).closest('th').index();
                      const filterOption = $(this).siblings('.filter-option').val();
                      const filterValue = $(this).siblings('.filter-value').val().trim();
                
                      $table.find('tbody tr').hide();  // Hide all rows
                
                      if (filterOption === 'exact-match') {
                        applyExactMatchFilter($table, columnIndex, filterValue);
                      } else if (filterOption === 'contains') {
                        applyContainsFilter($table, columnIndex, filterValue);
                      } else if (filterOption === 'equal-to') {
                        applyEqualToFilter($table, columnIndex, filterValue);
                      } else if (filterOption === 'greater-than') {
                        applyGreaterThanFilter($table, columnIndex, filterValue);
                      } else if (filterOption === 'less-than') {
                        applyLessThanFilter($table, columnIndex, filterValue);
                      }
                
                      // Close the filter dropdown
                      $(this).closest('.filter-dropdown').hide();
                    });
                
                    $('.clear-filter').on('click', function() {
                      $('#myTable tbody tr').show();
                      $(this).siblings('.filter-option').val('contains');
                      $(this).siblings('.filter-value').val('');
                
                      // Close the filter dropdown
                      $(this).closest('.filter-dropdown').hide();
                    });
                  });
                
                  function applyExactMatchFilter($table, columnIndex, filterValue) {
                    $table.find(`tbody tr td:nth-child(${columnIndex + 1})`).each(function() {
                      if ($(this).text().trim() === filterValue) {
                        $(this).parent().show();
                      }
                    });
                  }
                
                  function applyContainsFilter($table, columnIndex, filterValue) {
                    $table.find(`tbody tr td:nth-child(${columnIndex + 1})`).each(function() {
                      if ($(this).text().toLowerCase().includes(filterValue.toLowerCase())) {
                        $(this).parent().show();
                      }
                    });
                  }
                
                  function applyEqualToFilter($table, columnIndex, filterValue) {
                    $table.find(`tbody tr td:nth-child(${columnIndex + 1})`).each(function() {
                      if (parseFloat($(this).text().trim()) === parseFloat(filterValue)) {
                        $(this).parent().show();
                      }
                    });
                  }
                
                  function applyGreaterThanFilter($table, columnIndex, filterValue) {
                    $table.find(`tbody tr td:nth-child(${columnIndex + 1})`).each(function() {
                      if (parseFloat($(this).text().trim()) > parseFloat(filterValue)) {
                        $(this).parent().show();
                      }
                    });
                  }
                
                  function applyLessThanFilter($table, columnIndex, filterValue) {
                    $table.find(`tbody tr td:nth-child(${columnIndex + 1})`).each(function() {
                      if (parseFloat($(this).text().trim()) < parseFloat(filterValue)) {
                        $(this).parent().show();
                      }
                    });
                  }
                </script>
               

 
 <script>
    function printPageContent() {
      const contentToPrint = document.getElementById('contentToExport');
      const clonedContent = contentToPrint.cloneNode(true);
  
      // Find all the elements with the class "text" within the cloned content
      const textElements = clonedContent.querySelectorAll('.text');
      const tableElements = clonedContent.querySelectorAll('.table');
      const filterDropdowns = clonedContent.querySelectorAll('.filter-dropdown');
  
      // Set the text color to black for each element with the class "text"
      textElements.forEach(element => {
        element.style.color = '#000000';  // Text color (black)
      });
      tableElements.forEach(element => {
        element.style.color = '#000000';
        element.style.border ='1px solid';
        
      });
     
    filterDropdowns.forEach(dropdown => {
      dropdown.style.display = 'none';
    });
  
      // Print the cloned content
      const printWindow = window.open('', '_blank');
      printWindow.document.body.appendChild(clonedContent);
      printWindow.print();
      printWindow.close();
    }
  </script>
<script>
    // ... your existing JavaScript code ...

    // Update the total item count in the page footer
    function updateTotalItemCount() {
        const itemCount = $('#myTable tbody tr').length;
        $('#total-item-count').text(itemCount);
    }

    // Call the function initially
    updateTotalItemCount();
</script>
<!-- ... your existing HTML code ... -->

<script>
    $(document).ready(function() {
        // ... your existing JavaScript code ...

        // Calculate and display the sum of total value
        function calculateTotalValue() {
            let totalValue = 0;
            $('#myTable tbody tr').each(function() {
                const cellValue = parseFloat($(this).find('.td-total-value').text());
                if (!isNaN(cellValue)) {
                    totalValue += cellValue;
                }
            });
            
            // Update the footer total sum placeholder
            $('#footer-total-sum').text(totalValue.toFixed(2));
        }

        // Call the function initially and whenever filters are applied
        calculateTotalValue();
        
        // ... your existing JavaScript code ...
    });
</script>
<script>
    function exportAsExcel() {
      const table = document.getElementById('myTable'); // Replace 'myTable' with your table's ID
      const wb = XLSX.utils.table_to_book(table);
    
      // Loop through each sheet in the workbook
      wb.SheetNames.forEach(sheetName => {
        const sheet = wb.Sheets[sheetName];
    
        // Loop through all cells to format date values
        for (const cellAddress in sheet) {
          if (sheet.hasOwnProperty(cellAddress)) {
            const cell = sheet[cellAddress];
            if (cell.t === 'd') { // Check if cell contains a date
              cell.z = 'yyyy-mm-dd'; // Set the desired date format
            }
          }
        }
      });
    
      XLSX.writeFile(wb, '{{company.company_name}}.xlsx');
    }
    </script>
<script>
    $(function() {
    
      var start = moment().subtract(29, 'days');
      var end = moment();
    
      function cb(start, end,label) {
          $('#reportrange span').text(label);
          $('#selectedEndDate').text('BETWEEN'+'     '+start.format('DD/MM/YYYY')+'  To  '+end.format('DD/MM/YYYY'));

        }
        
    
        var daterangepickerOptions ={
          startDate: start,
          endDate: end,
          ranges: {
           
             
             'This Month': [moment().startOf('month'), moment().endOf('month')],
             'This Quarter': [moment().startOf('quarter'), moment().endOf('quarter')],
             'This Year': [moment().startOf('year'), moment().endOf('year')],
             'Last Month': [
            moment().subtract(1, 'month').startOf('month'),
            moment().subtract(1, 'month').endOf('month')
        ],
             
          },
          opens: 'left', // Adjust the direction of the calendar popup if needed
          showCustomRangeLabel: true,
          //singleDatePicker:true,
          showDropdowns:true,
          linkedCalenders:true,
          showCancel:true,
          cancelClass: 'cancel-button',
          maxSpan:{days:30}
  
          
  
      };
      $('#reportrange').daterangepicker(daterangepickerOptions, cb);
  
 
  
      $('.custom-caret i').click(function() {
          $('#reportrange').data('daterangepicker').toggle();
      });
      $('.cancel-button').click(function() {
          $('#reportrange').data('daterangepicker').setStartDate(start);
          $('#reportrange').data('daterangepicker').setEndDate(end);
      });
     
     
    
  
  
      cb(start, end, 'Custom');
    });
    </script>

    
  
{%endblock%}